
<!-- /* Body */ -->

body, html {
  max-width: 21.59cm;
  max-height: 35.56cm;
  margin: auto;
  padding: 1rem;
}

@page {
  max-width: 21.59cm;
  max-height: 35.56cm;
    size: legal portrait;
  margin: 0.635cm 0.635cm;
}



<!-- /* Fonts */ -->



<!-- /* Header */ -->

.toptable {
width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
    box-sizing: content-box;
    table-layout: fixed;
}

.titletable {
width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;
    background-color: #d4f0ff;
    break-inside: avoid;
}


.authortable {
width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    table-layout: auto;
    background-color: #9ec3e8;
}


.indexcrimerecap_perma {
width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    box-sizing: border-box;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    table-layout: fixed;
}


.oat_perma {
width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    table-layout: fixed;
}

.news_perma {
width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    table-layout: fixed;
}

.lpr_perma {
width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    table-layout: fixed;
}




.comments_perma {
width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    table-layout: fixed;
}


.topleft {
text-align: left;
    padding: 0px 10px 0px;

}

.topaligntr {
  vertical-align: top;
}

.tdpaddingleft {
 padding-right: 10px;
 text-align: left;
}

.topright {
text-align: right;
    padding: 0px 10px 0px;
}


.NYPD {
text-align: center;

}

.AuthorDateCol {
    text-align: left;
}


.AuthorPlatoonCol {
    text-align: center;
}


.AuthorSupervisorCol {
    text-align: right;
}

.form-text {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
    font-size: 10pt;
}



.rmpno-form {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
  font-size: 10pt;
  width: 50px;

}

.locationform {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
    font-size: 10pt;
    width: 14em;
}

.perpform {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
    font-size: 10pt;
        width: 14em;
}


.label-text {
  font-family: Vitesse;
  font-style: light;
padding-left: 5px;
font-size: 10pt;

}

.date-picker {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
width: 170px;
text-align: center;
font-size: 10pt;
}

.Platoon-picker {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
width: 130px;
text-align: center;
padding-left: 20px;
font-size: 10pt;
}

.supervisorform {
  font-family: Vitesse;
  font-style: normal;
  font-weight: 400;
width: 14em;
text-align: center;
padding-left: 0px;
font-size: 10pt;

}





.tdleft {
text-align: left;

}

.tdmiddle {
text-align: center;
}

.tdright {
text-align: right;

}





.nypdtext {
  font-family: vitesse;
  font-style: normal;
  font-weight: 800;
  font-size: 28pt;
    color: #1e5ce9;
    line-height: 0;
}


.pcttext {
  font-family: vitesse;
  font-style: normal;
  font-weight: 700;
  font-size: 20pt;
    color: #1e5ce9;
    line-height: 0px;
}

.eotrecaptext {
  font-family: vitesse;
  font-style: normal;
  font-weight: 500;
    font-size: 16pt;
    color: #000000;
    line-height: 0px;

}

.input-wrap {
  position: absolute;

}
.input-wrap .input {
  position: absolute;
  width: auto;
  left: 0;

}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}


.textarea {
  display: block;
  width: 100%;
  overflow: visible;
  resize: vertical;
  min-height: 40px;
  max-width: inherit;
  white-space:normal;
  border: 1px solid #ccc;
  font-family: vitesse;
  font-style: normal;
  font-weight:normal;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: normal;
}

.textarea[contenteditable]:empty::before {
  content: "Click here to enter text";
  color: gray;
  font-family:vitesse light;
}

.textarea:hover {
    box-shadow: 0 0 0px 0 inset, 0 0 2px 2px #abeaff;
}

input:hover {
    box-shadow: 0 0 0px 0 inset, 0 0 2px 2px #abeaff;
}

select:hover {
    box-shadow: 0 0 0px 0 inset, 0 0 2px 2px #abeaff;
}

.nobreak {
  page-break-inside: avoid !important;
  margin: 4px 0 4px 0;
}

.logo {
  position: inherit;
  width: 95px;
  height: 120px;
}

.textareacomment {
  display: block;
  width: 100%;
  overflow: visible;
  resize: vertical;
  min-height: 40px;
  max-width: inherit;
  white-space:normal;
  border: 1px solid #ccc;
  font-family: vitesse;
  font-style: normal;
  font-weight:normal;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.textareacomment[contenteditable]:empty::before {
  content: "Hospitalized Prisoners, Department Vehicle Accidents, Level (1,2,3) Mobilizations... etc.";
  color: gray;
  font-family:vitesse light;
}

.textareacomment:hover {
    box-shadow: 0 0 0px 0 inset, 0 0 2px 2px #abeaff;
}


.textareanews {
  display: block;
  width: 100%;
  overflow: visible;
  resize: vertical;
  min-height: 75px;
  max-width: inherit;
  white-space:normal;
  border: 1px solid #ccc;
  font-family: vitesse;
  font-style: normal;
  font-weight:normal;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.textareanews[contenteditable]:empty::before {
  content: "Click here to enter text";
  color: gray;
  font-family:vitesse light;
}

.textareanews:hover {
    box-shadow: 0 0 0px 0 inset, 0 0 2px 2px #abeaff;
}


.occtimeform {
content: "Click here to enter text";
font-family: Vitesse;
font-weight: light;
text-align: left;
padding-left: 0px;
font-size: 10pt;
}

.wideform {
content: "Click here to enter text";
font-family: Vitesse;
font-weight: light;
text-align: left;
padding-left: 0px;
font-size: 10pt;
width: 100%;
border: 1px solid #ccc;
}

.extracontainer {
border: none;

}

.index_crimes {
border: none;
}

.extraarrests {
border: none;
}

.extraoat {
border: none;
}


.extranews {
border: none;
}


.extralpr {
border: none;
}


.extracomments {
  border: none;
}

.easteregg {
  font-family: Vitesse;
  font-style: light;
  font-size: 8pt;
  color: transparent;
}



<!-- /* Buttons */ -->


.buttonholder {
width: 100%;
text-align: right;
border-top: 0px solid black;
border-bottom: 0px solid black;
border-left: 0px solid black;
border-right: 0px solid black;

}



.add {
  font-family:vitesse;
  font-weight:bold;
  width: 150px;
  border-radius: 15px;
  background-color:#faffe8;
}

.add:hover, .add:focus {
    box-shadow: 0 0 4px 0 #3bc442 inset, 0 0 3px 3px #6cf589;
    color: #076325;
    border-color: #1cd651;
}

.delete {
  font-family:vitesse;
  font-weight:bold;
  width: 150px;
  border-radius: 15px;
  background-color:#ffe4bd;
  color:black;
}



.delete:hover, .delete:focus {
    box-shadow: 0 0 4px 0 #f22b1d inset, 0 0 3px 3px #ffd3a1;
    color: #ff1414;
    border-color: #d6351c;
}


.bottombuttonsholder {
width: 100%;
border-spacing: 10px 10px;
box-sizing: border-box;
border-top: 2px solid #407ded;
border-bottom: 0px solid #407ded;
border-left: 0px solid black;
border-right: 0px solid black;
margin-top: 25px;
margin-bottom: 10px;
table-layout: fixed;
}

.print {
  font-family:vitesse;
  font-weight:bold;
  font-size: 14pt;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color:#77c3f7;
  border-color: #20f7ed;
  color: #000;
  box-shadow: 0 0 40px 40px #75ddff inset, 0 0 0 0 #d8ff17;

}

.print:hover, .print:focus {
    box-shadow: 0 0 5px 0 #99f1ff inset, 0 0 5px 3px #12a4ff;
    border-color: #20f7ed;
    color: #000;
}


.print-text {
  font-family: Vitesse;
  font-style: normal;
  font-size: 12pt;
  padding-left: 5px;
}

.email {
  font-family:vitesse;
  font-weight:bold;
  font-size: 14pt;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color:#77c3f7;
  border-color: #20f7ed;
  color: #000;
  box-shadow: 0 0 40px 40px #75ddff inset, 0 0 0 0 #d8ff17;

}

.email:hover, .email:focus {
  box-shadow: 0 0 5px 0 #99f1ff inset, 0 0 5px 3px #12a4ff;
  border-color: #20f7ed;
    color: #000;
}


.email-text {
  font-family: Vitesse;
  font-style: normal;
  font-size: 12pt;
  padding-left: 5px;
}

<!-- /* Buttons */ -->
